<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="">시사저널</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="">분석</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="">coffee <i class="fa fa-coffee text-danger"></i></a>
</li>
